.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{
  text-decoration: none;
  color: #41444b;
}

a:hover{
  color: white;
}

a:visited{
  color: #41444b;
}

a:visited:hover{
  color: white;
}

body{
  background-color: white;
}

.header{
  top: 0;
  background-color:white ;
  position: fixed;
  width: 100%;
}

.header-content{
  margin: 10px auto;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cartoonized-image{
  width: 550px;
  border-radius: 15px;
  margin-top: 130px;
  margin-left: 100px;
}

.backdrop{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url("./backdrop.png");
  background-size: cover;
  width: 100%;
  height: 700px;
}

.wrapper{
  padding: 0 100px 0 0;
}

main{
  width: 100%;
}

.project-title, .about-title, .contact-title{
  width: 70%;
  font-size: 2em;
  margin: 50px auto;
  text-align: left;
  color: #41444b;
  font-family: 'Lato', sans-serif;
}


@media only screen and (max-width: 1150px) {

  .wrapper{
    padding: 0;
  }
  
  .cartoonized-image-section{
    padding: 180px 0 0 0;
  }

  .cartoonized-image{
    width: 300px;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .logo{
    margin: 10px auto;
  }
  
  .header-content{
    display: block;
  }

  .backdrop{
    top: 100px;
    height: 770px;
    display: block;
  }
}

.copyright{
  margin: 0 auto;
  width: 80%;
}

@media only screen and (max-width: 660px) {

  .project-title, .about-title, .contact-title{
    padding-top: 20px;
    width: 90%;
    font-size: 2em;
    margin: 50px auto;
    text-align: left;
    color: #41444b;
    font-family: 'Lato', sans-serif;
  }

  .cartoonized-image-section{
    padding-top: 210px;
  }  

}


