.name{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-align: center;
  margin: 270px auto 20px auto ;
  font-size: 3rem;
  color: #41444b;
}

.job-title{
  margin: 20px auto 20px auto;
  font-family: 'Roboto', sans-serif;
  color: #3bb4c1;
  font-size: 2rem;
}

.icons{
  margin: 70px auto 20px auto;
  display: block;
}

svg{
  color: #41444b;
  margin: 20px 20px;
}

svg:hover{
  color: aqua;
  margin: 20px 20px;
}

@media only screen and (max-width: 1150px) {
  .name{
    margin: 40px auto 20px auto;
  }

  .icons{
    margin: 20px auto;
  }
}