.nandys-projects{
  grid-gap: 50px;
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 70%;
}

article{
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.project-names{
  margin-top: 40px;
  font-weight: 900;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  color: #3bb4c1;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: auto 0 auto 5px;
  color: #41444b;
}

.img1{
  border-radius: 15px;
  border: 2px solid gainsboro;
  background-color: rgb(255, 250, 254);
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.img1:hover{
  border: 2px solid aqua;
}


.img2{
  border-radius: 15px;
  border: 2px solid gainsboro;
  background-color: mintcream;
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.img2:hover{
  border: 2px solid aqua;
}

.img3{
  border-radius: 15px;
  border: 2px solid gainsboro;
  background-color: white;
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.img3:hover{
  border: 2px solid aqua;
}

.img4{
  border-radius: 15px;
  border: 2px solid gainsboro;
  background-color: white;
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.img4:hover{
  border: 2px solid aqua;
}

@media only screen and (max-width: 1150px) {

  .nandys-projects{
    width: 60%;
    display: block;
  }

}

@media only screen and (max-width: 660px) {

}